<!DOCTYPE html>
<html>
<head>
    <title>OAuth Redirect</title>
</head>
<body>
    <script>
        window.onload = function() {
            if (window.opener) {
                // Send the OAuth state ID back to the parent window
                window.opener.postMessage({
                    action: 'OAuth-Response',
                    oauth_state_id: new URLSearchParams(window.location.search).get('oauth_state_id')
                }, '*');
                window.close();
            }
        };
    </script>
</body>
</html> 